In [65]:
import pandas as pd
import numpy as np
from csv import *
import csv

In [66]:
filePath = '/home/nguepi/Bureau/Git_repository/Projet_code/ZKP_For_Merkle_Tree/Data.csv'

In [67]:
Data=pd.read_csv(filePath)
Data

,Name,Country,E-mail address,City of residence,Social Security Code,Sex,marital status
0,Nguepi,Cameroun,idriss.n.nguefack@aims-senegal.org,Mbour,56892,M,Celibataire
1,LOWE,Cameroun,650417150,DSCHANG,52698,F,Celibataire
2,MEITE,Côte d'Ivoire,nokememeitee@gmail.com,Mbour,52698,F,Celibataire
3,Elsa,Congo,idrissnguepi@yahoo,Dschang,54366,M,Marier
4,Jague,Cameroun,jaguenina@gmail.com,Douala,55555,F,Celibataire
5,TSAGUE,CAMEROUN,laurablondelle1998@.com,YAOUNDÉ,52698,F,Celibataire
6,ZOYUIM,Cameroun,zoyuimjuvintus@gmail.com,Yaoundé,52698,M,Celibataire
7,Jaza,Cameroun,jazafolefacksinclair@yahoo.fr,Douala,52698,M,Celibataire
8,Stella Elsa,Togo,elsyngam@gmail.com,Yaoundé,52698,F,Celibataire

In [54]:
import pandas as pd
saved_column = Data.Nom #you can also use df['column_name']

In [55]:
L=[saved_column[i] for i in range(len(saved_column))]

In [56]:
L

['Nguepi',
 'LOWE ',
 'MEITE',
 'Jeft',
 'Jague',
 'TSAGUE',
 'ZOYUIM ',
 'Jaza ',
 'Stella Elsa']